@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 94.18px;
  align-items: center;
}
.navigation {
  display: flex;
}
.navigation li {
  list-style: none;
  margin: 20px;
}
.navigation li a {
  text-decoration: none;
  font-size: small;
  font-weight: 500;
  color: #3a3a3a;
}
.first-sec {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.first-sec-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.first-sec-left h1 {
  font-size: 40px;
  color: #3a3a3a;
}
.first-sec-left p {
  font-size: 15px;
  color: #3a3a3a;
  font-weight: 600;
  line-height: 1.6;
  margin: 30px 0;
}
.first-sec-right {
  display: flex;
  justify-content: center;
}

.first-sec-right img {
  background-image: url("../images/circle-design.svg");
  background-repeat: no-repeat;
}

.primary-button {
  outline: 0;
  border: 0;
  padding: 15px 20px;
  background-color: #2d324b;
  border-radius: 20px;
  color: #ffffff;
  font-weight: 600;
}

.section-title {
  text-align: center;
}
.section-title h2 {
  font-size: 25px;
  color: #3a3a3a;
  margin: 55px 0;
}
#collection {
  margin-top: 100px;
  margin-bottom: 100px;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  justify-content: space-between;
  align-items: center;
  padding-left: 172px;
  padding-right: 180px;
}
.product {
  background-color: #ffffff;
  border-radius: 5px;
  margin: 0 auto;
  padding: 12px;
  filter: drop-shadow(0 0 40px rgba(0, 0, 0, 0.15));
}
.see-more {
  color: #2d324b;
  font-weight: 500;
  text-align: right;
  padding-right: 142px;
  margin-top: 25px;
}
.product h1 {
  font-weight: 500;
}
.product p {
  color: #787885;
}
.product .fas {
  color: #fb8200;
}
.product .four {
  color: #eeeceb;
}
.last-sec {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 30px;
}
.last-sec img {
  width: 70%;
}
.last-sec-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.last-sec-right {
  display: ;
  justify-content: center;
}
.last-sec-right p {
  font-weight: 600;
  color: #3a3a3a;
  margin-bottom: 10px;
}
.last-sec-right h1 {
  color: #3a3a3a;
  margin-bottom: 25px;
}

#email {
  background-color: #f8f5f5;
  border-radius: 5px;
  padding: 10px;
  margin-top: 25px;
  margin-right: 25px;
  width: 300px;
}
footer {
  height: 150px;
  background-color: #0a0826;
  color: white;
  text-align: center;
  padding: 30px;
}

/*footer icons*/

.fab {
  padding-right: 10px;
}

/*---------------------
--------form here------
-------------------*/
